body {
    font-family: Arial, sans-serif;
    background-color: #efdcf7;
    color: #a15fcc;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.formulario {
    margin-bottom: 20px;
}

#input {
    padding: 5px;
    width: 70%;
    border-radius: 30px;
    accent-color: rgb(135, 92, 155);
}

#añadirtema {
    padding: 5px 10px;
    background-color: #a15fcc;
    color: rgb(233, 220, 220);
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
}

#añadirtema:hover {
    background-color: #470a57;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task-actions {
    display: flex;
    gap: 10px;
}

.completed {
    background-color: rgb(223, 192, 252);
}

button {
    background-color: #ddd;
    color: #a15fcc;
    border-radius: 30px;
}

button:hover{
    background-color: #a15fcc;
    color: white;
    border-radius: 30px;
}

img{
    border-radius: 50%;
}